body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  width: 100%;
  height: 100%;
  /*overflow: hidden;*/
  /*font-family: serif;*/
  color: rgba(0,0,0,0.77);
}

.tooltip {
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  opacity: 0;
  transform: translate3d(-50%, 110%, 0);
  transition: opacity .3s, transform .3s;
}

.tooltip.is-active {
  opacity: 1;
  transform: translate3d(-50%, calc(-100% - 5px), 0);
}